.left{
  margin-top: 10px;
  margin-left: 30px;
}
.right{
  text-align: right;
  margin-top: 10px;
  margin-right: 30px;
}

.app-header {
  background-color:#0a122a;
  color: white;
  justify-content: space-between;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
.logo{
  width:60px;
  height:auto;
  margin-top:10px;
}
.logout{
  width:40px;
  height:auto;
  margin-top:10px;
}
.snav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .snav-toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
  background-color: #243361;
}

mat-sidenav {
  width: 300px;

}

.side-content {
  padding: 10%;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.logo-card {
  max-width: 400px;
}

.active-list-item {
  color: #3F51B5 !important;
}

.main-table {
  width: 270%;
}

.cr-table {
  width: 100%;
}

.table-div {

  overflow: auto;
  height: 390px;
  background-color: #080d4f;
  color: white;

}

.date-nav {
  background-color:#243361;
  color: white;

  
}

.data-table {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.mat-form-field{
  font-size: 14px;
  width: 32%;
  margin: 10px;
}

button {
  font-size: 14px;
  width: 35%;
  margin: 10px;
  /* background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%) */
}

/* td, th {

  font-size: 14px;
  color:black;
} */

td, th {
  text-align:left;
  font-size: 14px;
  color: white;
  background-color: #080d4f;
}

mat-header-cell {
  justify-content: center;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.blue {
  background-color: #3f51b5;
  color: white;
}

.grey {
  background-color: #243361;
  position: relative;
  color:black;
  border-radius:8px;
  background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
  background-size: 400%;
  background-position: 0% 0%;
}

.side-button {
  margin-top: 10px;
  width: 90%;
  position: relative;
  background-color: #3f51b5;
  color: black;
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  background-size: 400%;
  background-position: 0% 0%;
}

.side-field {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 20px;
  font-size: 10px;
}

.side-button:hover {
  margin-top: 10px;
  width: 90%;
  position: relative;
  background-color: #3f51b5;
  color: black;
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  background-size: 400%;
  background-position: 0% 0%;

}

.botto-button{
  background-color: #3f51b5;
  margin-top: 10px;
  width: 30%;
  position: relative;
  background-color: #3f51b5;
  color: black;
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  background-size: 400%;
  background-position: 0% 0%;

}
.botto-button:hover {
  background-color: #3f51b5;
  margin-top: 10px;
  width: 30%;
  position: relative;
  background-color: #3f51b5;
  color: black;
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  background-size: 400%;
  background-position: 0% 0%;

}

h2 {
  margin-top: 20px;
}
.row{
  width: 100%;
 }
 .background-color {
  background-color:#243361;
  border-color:#243361;
  color: #ced4da;
  padding: 10px;
  font-weight: bold;
  text-align: right;
}

.side-content{
  background-color:#243361;
}
