.app-header {
  background-color:#0a122a;
  color: #edf0f3;
  justify-content: space-between;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.logo {
  width: 60px;
  height: auto;
  margin-top: 10px;
}

.logout {
  width: 40px;
  height: auto;
  margin-top: 10px;
}

.snav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.table-div {
  overflow: auto;
  height: 425px;

}

.is-mobile .snav-toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
  background-color:#243361;
}

.mat-sidenav {
  width: 300px;
  background-color:#243361;
  color: #ced4da;
}

.side-content {
  padding: 10%;
}


.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.logo-card {
  max-width: 400px;
}

.active-list-item {
  color: #0e1643 !important;
}

table {
  width: 100%;
}

.data-table {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #080d4f;

}

.mat-form-field {
  font-size: 100%;
  width: 100%;
}

button {
  font-size: 100%;
  width: 20%;
  margin: 10px;
}

td, th {
  text-align: left;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

mat-card {
  margin: 10px;
  margin-top: 30px;
  text-align: center;
  border-radius: 1px;
}

.blue {
  background-color:linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: white;
}

.grey {
  position: relative;
  color:black;
  border-radius:8px;
  /* background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); */
  background-image: linear-gradient(80deg, #96c8ec, #85abf2, #9fb9ea, #a3ccee, #5fd0fd, #224688);
  background-size: 400%;
  background-position: 0% 0%;
}

.side-button {
  width: 90%;
  font-size: 100%;
}

.side-button:hover {
  position: relative;
  color: var(--textColor2);
  border-radius:8px;
  background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
  background-size: 400%;
  background-position: 0% 0%;
}

.botto-button:hover {
  position: relative;
  color: var(--textColor2);
  border-radius:8px;
  background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
  background-size: 400%;
  background-position: 0% 0%;
}

h2 {
  margin-top: 20px;
}

.row {
  width: 100%;
}

.background-color {
  background-color:#243361;
  border-color:#0a0f1e;
  color: #ced4da;
  padding: 10px;
  font-weight: bold;
  text-align: right;
}

.table {
  border-color:#090c34;
  color: #858d98;
}

.table-bordered {
  border-color:#09142b;
}

.table{
  background-color:#091643;
}

th, td {
  border-color:#131d43;
  color: #ced4da;
  background-color:#101d4e;
}

th {
  font-weight: 700;
  font-size: 100%;
}
/* .table>:not(:last-child)>:last-child>* {
  border-bottom-color:#0e1a32;
 } */
.table-striped>tbody>tr:nth-of-type(odd),
.table-hover>tbody>tr:hover,
.table .table-light {
  --bs-table-accent-bg:#18275b;
  color: #858d98;
}

/* // table */
/* >:not(caption)>*>* {
  background-color:#0e1a32;
} */

/* forms */
.form-control {
  color: #ced4da;
  background-color: lighten(#080d4f, 2%);
  border: 1px solid #ced4da;
}

/* // form-check */
.form-check-input {
  background-color:#141a63;
  border-color: rgba(#ced4da, 0.25);
}

.form-check-input:checked {
  background-color:#141a63;

}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: #ced4da !important;
}

::ng-deep .mat-select-value {
  color: #ced4da;
}

.mat-label {
  color: #ced4da;
}

/* // input group */
.input-group-text {
  background-color:#0e1a32;
  border-color: #0e1a32;
  color: #ced4da;
}

.mat-option {
  background-color:#18275b;
  border-color:#0e1a32;
  color: #ced4da;
}
.mat-option:hover {
  background-color: #31669b;
  border-color:#0e1a32;
  color: #e1f0f6;
}

.status-bar {
  background-color:#05071b;
  color: #ced4da;
}

.form-select {
  color: #adb5bd !important;
  background-color: lighten( #141a63, 2.5%);
  border: 1px solid #141a63;
}

.export-div {
  text-align: center;
  background-color: #18275b;
}
